.container {
	--global-border-radius: 0.5rem;
	--global-separation: 1rem;

	font-family: var(--font-family);
	overflow: hidden;

	&__card {
		&--container {
			width: 100%;
			gap: var(--global-separation);

			& hr {
				width: 100%;
				margin: auto;
				border-color: var(--surface-4);
				margin: 1rem 0;
				-webkit-box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.4);
				-moz-box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.4);
				box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.4);
			}
		}

		&--info {
			margin-top: 0.5rem;
		}

		&--body-container {
			width: 100%;
			position: relative;
			background: var(--blur-surface-1);
			backdrop-filter: blur(0.1rem);
			padding: var(--global-separation);
			margin: var(--global-separation);
			-webkit-box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.4);
			-moz-box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.4);
			box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.4);
			border-radius: var(--global-border-radius);
		}

		&--body {
			display: flex;

			& h2 {
				font-size: var(--font-size-md);
				font-weight: 400;
				line-height: 1.5;
				margin-bottom: 0.5rem;

				& span {
					font-weight: 450;

					&.r {
						color: #6b6ed4;
					}

					&.p {
						color: var(--pirani);
					}

					&.g {
						color: #728773;
					}
				}
			}

			& p {
				font-size: var(--font-size-sm);
				font-weight: 300;
				line-height: 1.5;
				color: var(--text-color-placeholder);
				margin-bottom: 0.5rem;

				& span {
					color: var(--royal-purple);
				}
			}

			@media (width <= 1000px) {
				align-items: center;
				flex-direction: column;
				padding: 1rem;
			}
		}

		&--body-image {
			display: flex;
			align-items: center;

			& picture,
			& img {
				width: 100%;
				height: auto;
				max-width: 30rem;
				background: var(--blur-surface-1);
				backdrop-filter: blur(0.1rem);
				-webkit-box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.4);
				-moz-box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.4);
				box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.4);
				border-radius: var(--global-border-radius);
			}
		}

		&--roles {
			position: absolute;
			width: 100%;
			left: 5px;
			top: -5px;
			display: flex;
			justify-content: flex-end;
			gap: 0.5rem;
		}

		&--role {
			font-size: var(--font-size-sm);
			font-weight: 500;
			line-height: 1.5;
			padding: 0.2rem 0.5rem;
			-webkit-box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.4);
			-moz-box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.4);
			box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.4);
			border-radius: 0.3rem;

			&.f {
				background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
			}

			&.e {
				background-image: linear-gradient(to top, var(--royal-purple) 0%, #453a94 100%);
			}

			&.b {
				background-image: linear-gradient(to top, #453a94 0%, #342a80 100%);
			}

			&.c {
				background-image: linear-gradient(to top, #bfbf2b 0%, #a77d0b 100%);
			}
		}

		&--technologies {
			display: flex;
			flex-wrap: wrap;
			padding: 0.5rem;
			gap: 0.5rem;
		}

		&--technology {
			width: fit-content;
			min-width: fit-content;
			font-size: var(--font-size-xs);
			font-weight: 600;
			padding: 0.2rem 0.4rem;
			border-radius: 1rem;
		}
	}
}
