<div class="container">
	<div class="container__card--container">
		<div class="container__card--body" [@slideInOut]>
			<div class="container__card--body-container">
				<div class="container__card--info">
					<h2><span class="r">Portafolio</span> Personal !</h2>
					<p>
						Este es un <span>proyecto</span> que tenia ansias de realizar ya que como <span>desarrollador</span> el
						mostrar mis <span>habilidades</span> es muy importante, y no quería copiar una plantilla o algo por el
						estilo, por eso realice este <span>proyecto</span> a mi gusto.
					</p>
					<p>
						En este <span>proyecto</span> pude implementar algunas de mis habilidades como <span>desarrollador</span>,
						desde la arquitectura del proyecto, pasando por el <span>despliegue continuo</span>, contenerización y un
						linter, llevando un versionamiento, mientras todo lo desplegaba en <span>Digital Ocean</span>, configuración
						y creación del <span>dominio</span>.
					</p>
					<div class="container__card--technologies">
						<div class="container__card--technology" style="background-color: #c40935">Angular</div>
						<div class="container__card--technology" style="background-color: #0b65a2">Digital Ocean</div>
					</div>
				</div>
				<div class="container__card--roles">
					<div class="container__card--role e">Personal</div>
				</div>
			</div>
			<div class="container__card--body-image"><img src="../../../assets/img/Portfolio.svg" alt="" /></div>
		</div>

		<hr />

		<div class="container__card--body" [@slideInOut]>
			<div class="container__card--body-container">
				<div class="container__card--info">
					<h2><span class="r">Sismicidad</span> global !</h2>
					<p>
						Este es un <span>proyecto</span> que expone mediante una tabla los datos <span>sísmicos</span> del ultimo
						mes de todo el mundo, contiene un <span>filtro</span> para el tipo de sismo y su paginado.
					</p>
					<p>
						En este <span>proyecto</span> pude implementar mis habilidades con el entendimiento de <span>APIs</span>,
						conceptos de micro servicios, capacidad para manejar el <span>Back-End</span> y <span>Front-End</span> por
						separado, con el fin de aprender y fortalecer mis conocimientos sobre <span>Ruby</span>,
						<span>React js</span> y sus frameworks.
					</p>
					<div class="container__card--technologies">
						<div class="container__card--technology" style="background-color: #c40935">Ruby On Rails</div>
						<div class="container__card--technology" style="background-color: #0b65a2">React Js</div>
					</div>
				</div>
				<div class="container__card--roles">
					<div class="container__card--role e">Personal</div>
				</div>
			</div>
			<div class="container__card--body-image"><img src="../../../assets/img/ProjectSesismes.svg" alt="" /></div>
		</div>

		<hr />

		<div class="container__card--body" [@slideInOut]>
			<div class="container__card--body-container">
				<div class="container__card--info">
					<h2><span class="g">Glamping</span> !</h2>
					<p>
						Este es un <span>proyecto</span> que expone un poco de información sobre un glamping cercano a el Peñol
						<span>Antioquia</span>, es una propuesta presentada como proyecto de semestre que aparte de obtener
						conocimientos, es un avance a un futuro <span>proyecto</span> que se usara por dicho glamping.
					</p>
					<p>
						En este <span>proyecto</span> fui uno de los participantes que dio guía y pie a como íbamos a
						<span>diseñar</span>, desarrollar y abordar el proyecto. Junto a mis <span>compañeros</span>, logramos
						implementar un <span>Front-End</span> con <span>React js</span> y un <span>Back-End</span> con
						<span>Go Lang</span> y unos diseños en <span>Figma</span>. Este proyecto es una primer propuesta para ver su
						viabilidad.
					</p>
					<div class="container__card--technologies">
						<div class="container__card--technology" style="background-color: #61dafb">React Js</div>
						<div class="container__card--technology" style="background-color: #6ad7e5">Go Lang</div>
						<div class="container__card--technology" style="background-color: #00618a">MySql</div>
					</div>
				</div>
				<div class="container__card--roles">
					<div class="container__card--role c">Coop</div>
				</div>
			</div>
			<div class="container__card--body-image"><img src="../../../assets/img/Glamping.svg" alt="" /></div>
		</div>
	</div>
</div>
