<div class="bg-container">
	<ul class="bg-container__items">
		<li><img [src]="'assets/icons/' + items[0] + '.svg'" alt="random-icon" /></li>
		<li><img [src]="'assets/icons/' + items[1] + '.svg'" alt="random-icon" /></li>
		<li><img [src]="'assets/icons/' + items[2] + '.svg'" alt="random-icon" /></li>
		<li><img [src]="'assets/icons/' + items[3] + '.svg'" alt="random-icon" /></li>
		<li><img [src]="'assets/icons/' + items[4] + '.svg'" alt="random-icon" /></li>
		<li><img [src]="'assets/icons/' + items[5] + '.svg'" alt="random-icon" /></li>
		<li><img [src]="'assets/icons/' + items[6] + '.svg'" alt="random-icon" /></li>
		<li><img [src]="'assets/icons/' + items[7] + '.svg'" alt="random-icon" /></li>
		<li><img [src]="'assets/icons/' + items[8] + '.svg'" alt="random-icon" /></li>
		<li><img [src]="'assets/icons/' + items[9] + '.svg'" alt="random-icon" /></li>
		<li><img [src]="'assets/icons/' + items[10] + '.svg'" alt="random-icon" /></li>
		<li><img [src]="'assets/icons/' + items[11] + '.svg'" alt="random-icon" /></li>
	</ul>
</div>
