<div class="container">
	<div class="container__card--title">
		<h1>Experiencia<span> !</span></h1>
	</div>
	<div class="container__card--container">
		<div class="container__card--body" [@slideInOut]>
			<div class="container__card--body-container">
				<div class="container__card--info">
					<h2><span class="k">Freelance</span> Full Stack Developer !</h2>
					<p>
						Como <span>Desarrollador Full Stack Freelance</span>, he trabajado en diversos proyectos abordando todas las
						fases del ciclo de vida de las aplicaciones web. Mi trabajo incluyó la creación y optimización de
						plataformas digitales, desarrollando interfaces modernas y eficientes, implementando soluciones backend
						escalables, y gestionando la infraestructura en la nube para asegurar la alta disponibilidad y rendimiento.
					</p>
					<p>
						En estos proyectos, participé en el <span>desarrollo frontend</span> utilizando tecnologías modernas,
						<span>Angular</span> y <span>React</span> para interfaces dinámicas y responsivas, así como en la
						<span>implementación backend</span> con <span>.NET</span> y <span>Node.js</span> para servicios robustos y
						seguros. También tuve la oportunidad de gestionar la <span>infraestructura en la nube</span> utilizando
						<span>AWS</span>, asegurando la correcta operación y el despliegue continuo de las aplicaciones.
					</p>
					<p>
						Además, asumí responsabilidades de <span>arquitectura de software</span> y <span>planeación</span>, donde
						diseñé soluciones a medida para cumplir con los requisitos de cada proyecto, tomando decisiones clave para
						optimizar los procesos de desarrollo y garantizar productos de calidad.
					</p>
				</div>
				<div class="container__card--technologies">
					<div class="container__card--technology" style="background-color: #c40935">Angular</div>
					<div class="container__card--technology" style="background-color: #61dafb">React</div>
					<div class="container__card--technology" style="background-color: #603493">.NET Core</div>
					<div class="container__card--technology" style="background-color: #68a063">Node.js</div>
					<div class="container__card--technology" style="background-color: #232f3e">AWS</div>
					<div class="container__card--technology" style="background-color: #08668e">MySql</div>
					<div class="container__card--technology" style="background-color: #336791">Postgres</div>
					<div class="container__card--technology" style="background-color: #555759">SQL Server</div>
				</div>
				<div class="container__card--roles">
					<div class="container__card--role f">Full Stack</div>
					<div class="container__card--role a">Architect</div>
				</div>
			</div>
		</div>

		<hr />

		<div class="container__card--body" [@slideInOut]>
			<div class="container__card--body-container">
				<div class="container__card--info">
					<h2><span class="j">Juliana</span> Cloud !</h2>
					<p>
						<span>Juliana Cloud</span> en una <span>plataforma web</span> que es la evolución de Systems, el cual es un
						gestor de nomina y todos sus flujos para cualquier <span>empresa</span>.
					</p>
					<p>
						En este proyecto participo en el <span>desarrollo</span> de nuevas funcionalidades e antiguas, planeación,
						refinamiento y planteamiento de <span>arquitectura</span> e <span>infraestructura</span>, también nos
						tomamos el tiempo de refinar diseños <span>UI/UX</span>. Surgió como un <span>MVP</span> pero al paso del
						tiempo se convierte en un <span>producto</span> muy robusto y con una <span>experiencia</span> de usuario
						muy agradable, plasmamos en él lo funcional y <span>dinámico</span> de un <span>software</span> de nomina
						muy robusto, con lo rápido, eficaz, amigable y diciente de las <span>plataformas web</span> actuales.
					</p>
					<div class="container__card--technologies">
						<div class="container__card--technology" style="background-color: #c40935">Angular</div>
						<div class="container__card--technology" style="background-color: #603493">.NET Core</div>
						<div class="container__card--technology" style="background-color: #00618a">MySql</div>
						<div class="container__card--technology" style="background-color: #ff9900">AWS</div>
						<div class="container__card--technology" style="background-color: #0acf83">Figma</div>
					</div>
				</div>
				<div class="container__card--roles">
					<div class="container__card--role a">Architect</div>
					<div class="container__card--role f">Full Stack</div>
				</div>
			</div>
			<div class="container__card--body-image"><img src="assets/img/Juliana.svg" alt="" /></div>
		</div>

		<hr />

		<div class="container__card--body" [@slideInOut]>
			<div class="container__card--body-container">
				<div class="container__card--info">
					<h2><span class="r">Riskment</span> Suite !</h2>
					<p>
						Riskment Suite fue una <span>aplicación web</span> desarrollada para la <span>gestión de riesgos</span>,
						generalmente usada por bancos.
					</p>
					<p>
						Participe en el <span>desarrollo</span> de nuevas funcionalidades, <span>migraciones</span> y
						actualizaciones de la aplicación. La aplicación era un monolito el cual entendía todas las
						<span>características</span> necesarias para cumplir con las necesidades de sus <span>clientes</span>.
					</p>
					<div class="container__card--technologies">
						<div class="container__card--technology" style="background-color: #c40935">AngularJS</div>
						<div class="container__card--technology" style="background-color: #0b65a2">ASP.net</div>
						<div class="container__card--technology" style="background-color: #603493">.NET Core</div>
						<div class="container__card--technology" style="background-color: #555759">Sql Server</div>
						<div class="container__card--technology" style="background-color: #0caff0">Microsoft IIS</div>
					</div>
				</div>
				<div class="container__card--roles">
					<div class="container__card--role f">Full-Stack</div>
				</div>
			</div>
			<div class="container__card--body-image"><img src="assets/img/RiskmentSuite.svg" alt="" /></div>
		</div>

		<hr />

		<div class="container__card--body" [@slideInOut]>
			<div class="container__card--body-container">
				<div class="container__card--info">
					<h2><span class="p">Pirani</span> Risk !</h2>
					<p>
						Pirani Risk es una <span>aplicación web</span> desarrollada para la <span>gestión de riesgos</span>, siendo
						la evolución de <span>Riskment Suite</span> totalmente cloud, esta teniendo como objetivo la
						<span>democratización</span> de la gestión de riesgos.
					</p>
					<p>
						Participe en el <span>desarrollo</span> de nuevas funcionalidades y <span>actualizaciones</span> de la
						aplicación. La aplicación aplica <span>micro servicios</span> y <span>micro front-eds</span> el cual se
						enfoca en el soporte de procesos grandes y diferentes módulos con <span>características</span> dinámicas,
						contando con una experiencia de usuario muy <span>agradable</span> y <span>amigable</span>.
					</p>
					<div class="container__card--technologies">
						<div class="container__card--technology" style="background-color: #c40935">Angular</div>
						<div class="container__card--technology" style="background-color: #d75138">Java</div>
						<div class="container__card--technology" style="background-color: #df7468">Kotlin</div>
						<div class="container__card--technology" style="background-color: #08668e">MySql</div>
						<div class="container__card--technology" style="background-color: #55ad47">MongoDB</div>
						<div class="container__card--technology" style="background-color: #ff9c08">AWS</div>
					</div>
				</div>
				<div class="container__card--roles">
					<div class="container__card--role e">Front-End</div>
					<div class="container__card--role b">Back-End</div>
				</div>
			</div>
			<div class="container__card--body-image"><img src="assets/img/PiraniRisk.svg" alt="" /></div>
		</div>
	</div>
</div>
