<app-background></app-background>
<div class="main-container">
	<div class="main-container__header" [@slideInOutLeft]>
		<div class="main-container__header--section">
			<div class="main-container__header--title">
				<h2>Hola, soy Kevin Useche 👋</h2>
				<h1>Software Development Engineer<span> !</span></h1>
				<h2>Apasionado por la tecnología y el desarrollo de software👾.</h2>
			</div>
			<div class="main-container__header--avatar">
				<img src="../../../assets/img/foto-avatar.webp" alt="avatar" />
				<p>😎</p>
			</div>
		</div>
		<div class="main-container__header--section">
			<div class="main-container__header--slogan">
				<h3>"Sí puedes <span>imaginarlo</span>, puedes <span>programarlo</span>"</h3>
			</div>
		</div>
	</div>
	<div class="main-container__row" [@slideInOutRight]>
		<div class="main-container__row--links">
			<div class="main-container__row--description">
				<h3>
					Me encanta <span>aprender</span> cosas nuevas y enfrentar <span>desafíos</span>. En mi rol como
					<span>Full Stack Developer</span> cuento experiencia en <span>tecnologías</span> como Angular, .Net, Java,
					AWS, SQL Server, entre otras. Quienes interactúan conmigo y/o <span>aprenden</span> de mi, consideran que soy
					un buen <span>líder</span> o <span>profesor</span>.
				</h3>
			</div>
			<a class="main-container__row--btn" (click)="openLink('cv')" (keydown)="(false)" tabindex="0">
				<span>CV Resume</span>
			</a>
			<div class="main-container__row--social">
				<div
					class="main-container__row--social-item"
					style="
						-webkit-mask: url('../../../assets/icons/linkedin.svg') no-repeat center;
						mask: url('../../../assets/icons/linkedin.svg') no-repeat center;
					"
					(click)="openLink('in')"
					(keydown)="(false)"
					tabindex="0"
				></div>
				<div
					class="main-container__row--social-item"
					style="
						-webkit-mask: url('../../../assets/icons/git-small.svg') no-repeat center;
						mask: url('../../../assets/icons/git-small.svg') no-repeat center;
					"
					(click)="openLink('git')"
					(keydown)="(false)"
					tabindex="0"
				></div>
			</div>
		</div>
	</div>
	<div class="main-container__row" [@slideInOut]>
		<app-experiences></app-experiences>
	</div>
	<div class="main-container__row" [@slideInOut]>
		<div class="main-container__row--title">
			<h1>Skills<span> !</span></h1>
			<p>
				Estas son algunas de las <span>tecnologías</span> y <span>herramientas</span> que conozco, que he usado para
				realizar mi <span>trabajo</span> dia a dia.
			</p>
		</div>
		<app-skills></app-skills>
	</div>
	<div class="main-container__row" [@slideInOut]>
		<div class="main-container__row--title">
			<h1>Extras<span> !</span></h1>
			<p>
				Esta es una <span>recomendación</span> de mi ultimo trabajo, donde <span>destacan</span> un poco de mis
				fortalezas y habilidades que como <span>trabajador</span> lo consideran de valor.
			</p>
			<div class="main-container__row--recomendation">
				<a class="main-container__row--btn lg" (click)="openLink('rec')" (keydown)="(false)" tabindex="0">
					<span>Recomendación Pirani</span>
				</a>
			</div>
			<br>
			<p>
				También puedes ver algunos de mis <span>proyectos</span> en github, estos proyectos son de mayor
				<span>importancia</span> para mi, en cuanto a experiencia o nuevos <span>conocimientos</span> se trata.
			</p>
		</div>
		<app-projects></app-projects>
	</div>
</div>
