.main-container {
	--global-border-radius: 0.5rem;
	--global-separation: 1rem;

	display: flex;
	gap: var(--global-separation);
	flex-direction: column;
	align-items: center;
	height: 100vh;
	overflow: auto;
	user-select: none;
	font-family: var(--font-family);
	padding-top: 5rem;

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 60%;
		padding: var(--global-separation) 5rem;
		background: var(--blur-surface-1);
		border-radius: var(--global-border-radius);
		backdrop-filter: blur(0.2rem);
		color: var(--text-color);
		gap: var(--global-separation);

		&--section {
			width: 100%;
			display: flex;
			justify-content: space-between;
			gap: 1rem;
		}

		&--title {
			display: flex;
			flex-direction: column;
			justify-content: center;
			order: 1;
		}

		&--avatar {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 10rem;
			height: 10rem;
			object-fit: cover;
			border-radius: 50%;
			background: var(--surface-4);
			min-width: 10rem;
			position: relative;
			order: 2;
			overflow: hidden;
			margin-left: 0;

			& picture,
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 50%;
				border: 2px solid var(--text-primary-color);
			}

			& p {
				width: 100%;
				height: 100%;
				font-size: var(--font-size-lg);
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				opacity: 0;
				transition: opacity 0.3s ease-in-out;

				&:hover {
					backdrop-filter: blur(0.15rem);
					background-color: var(--blur-surface-1);
					opacity: 1;
				}
			}
		}

		&--slogan {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: flex-end;
			order: 3;
			opacity: 0.8;
			color: var(--text-color-placeholder);

			& h3 {
				font-size: var(--font-size-xs);
				font-weight: 400;
				line-height: 1.5;

				& span {
					color: var(--text-secondary-color);
				}
			}
		}

		& h1 {
			color: var(--text-secondary-color);
			font-size: var(--font-size-lg);
			font-weight: 500;
			line-height: 1.5;

			& span {
				color: var(--text-color);
			}
		}

		& h2 {
			font-size: var(--font-size-md);
			font-weight: 400;
			line-height: 1.5;
		}

		@media (width <=1140px) {
			width: 80%;
			padding-left: 2rem;
			padding-right: 2rem;
		}

		@media (width <=650px) {
			&--section {
				flex-direction: column;
				align-items: center;
				gap: 1rem;
			}

			&--avatar {
				order: 1;
			}

			&--title {
				order: 2;
			}
		}
	}

	&__row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 60%;
		padding: var(--global-separation) 5rem;
		background: var(--blur-surface-1);
		border-radius: var(--global-border-radius);
		backdrop-filter: blur(0.2rem);
		padding-left: 5rem;
		color: var(--text-color);

		&--title {
			& h1 {
				color: var(--text-secondary-color);
				font-size: var(--font-size-lg);
				font-weight: 500;
				line-height: 1.5;

				& span {
					color: var(--text-color);
				}
			}

			& p {
				font-size: var(--font-size-sm);
				font-weight: 400;
				line-height: 1.5;
				color: var(--text-color-placeholder);

				& span {
					color: var(--text-secondary-color);
				}
			}

			margin-bottom: 0.5rem;
		}

		&--btn {
			position: relative;
			width: 10rem;
			min-width: 10rem;
			height: 3.75rem;
			display: inline-block;
			background: #fff;
			cursor: pointer;
			border-radius: var(--global-border-radius);

			&.lg {
				width: 12rem;
				min-width: 12rem;
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				inset: 0;
				transition: 0.5s;
				background: var(--main-purple);
				background: linear-gradient(45deg, #00ccff, var(--main-purple), var(--royal-purple));
				border-radius: var(--global-border-radius);
			}

			&:hover:before {
				inset: -3px;
			}

			&:hover:after {
				inset: -3px;
				filter: blur(10px);
			}

			& span {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: inline-block;
				background: var(--main-purple);
				z-index: 10;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: var(--font-size-sm);
				color: var(--text-color);
				border: 1px solid var(--black);
				overflow: hidden;
				border-radius: 0.4rem;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: -50%;
					width: 100%;
					height: 100%;
					background: rgba(255, 255, 255, 0.075);
					transform: skew(25deg);
				}
			}
		}

		&--links {
			display: flex;
			gap: 2rem;
			align-items: center;
		}

		&--description {
			& h3 {
				font-size: var(--font-size-sm);
				font-weight: 400;
				line-height: 1.5;
				opacity: 0.8;
				color: var(--text-color);

				& span {
					color: var(--text-secondary-color);
				}
			}
		}

		&--social {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: var(--global-separation);
			cursor: pointer;
		}

		&--social-item {
			width: 2rem;
			height: 2rem;
			background: var(--surface-5);
			transition: transform 0.3s ease;

			&:hover {
				background: linear-gradient(45deg, #00ccff, var(--main-purple), var(--royal-purple));
				transform: scale(1.1);
			}
		}

		&:last-child {
			margin-bottom: 5rem;
		}

		&--recomendation {
			margin: 1rem 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		@media (width <=1140px) {
			width: 80%;
			padding-left: 2rem;
			padding-right: 2rem;
		}

		@media (width <=800px) {
			&--links {
				flex-direction: column;
				gap: var(--global-separation);
			}
		}
	}
}