<div class="skills-container">
	<div class="skills-container--section">
		<h2><span class="e">Front</span>-End</h2>
		<div class="skills-container__logos">
			<div class="skills-container__logos-slide">
				<img src="assets/icons/angular.svg" alt="logo-skill" title="Angular" />
				<img src="assets/icons/react.svg" alt="logo-skill" title="React Js" />
				<img src="assets/icons/js.svg" alt="logo-skill" title="Javascript" />
				<img src="assets/icons/ts.svg" alt="logo-skill" title="Typescript" />
				<img src="assets/icons/css.svg" alt="logo-skill" title="Css" />
				<img src="assets/icons/sass.svg" alt="logo-skill" title="Sass" />
				<img src="assets/icons/html.svg" alt="logo-skill" title="HTML5" />
			</div>
		</div>
	</div>

	<div class="skills-container--section">
		<h2><span class="b">Back</span>-End</h2>
		<div class="skills-container__logos">
			<div class="skills-container__logos-slide">
				<img src="assets/icons/java.svg" alt="logo-skill" title="Java" />
				<img src="assets/icons/csharp.svg" alt="logo-skill" title="C#" />
				<img src="assets/icons/aws.svg" alt="logo-skill" title="AWS Services" />
				<img src="assets/icons/mysql.svg" alt="logo-skill" title="MySql" />
				<img src="assets/icons/sql.svg" alt="logo-skill" title="Sql Server" />
			</div>
		</div>
	</div>

	<div class="skills-container--section-full">
		<h2><span class="h">Herra</span>mientas</h2>
		<div class="skills-container__logos">
			<div class="skills-container__logos-slide">
				<img src="assets/icons/dotnet.svg" alt="logo-skill" title=".Net" />
				<img src="assets/icons/docker.svg" alt="logo-skill" title="Docker" />
				<img src="assets/icons/git.svg" alt="logo-skill" title="Git Hub" />
				<img src="assets/icons/vsc.svg" alt="logo-skill" title="Visual Studio Code" />
				<img src="assets/icons/vs.svg" alt="logo-skill" title="Visual Studio" />
				<img src="assets/icons/workbench.svg" alt="logo-skill" title="MySql Workbench" />
				<img src="assets/icons/manage.svg" alt="logo-skill" title="Sql Server Management" />
				<img src="assets/icons/figma.svg" alt="logo-skill" title="Figma" />
				<img src="assets/icons/jira.svg" alt="logo-skill" title="Jira" />
				<img src="assets/icons/insomnia.svg" alt="logo-skill" title="Insomnia" />
				<img src="assets/icons/postman.svg" alt="logo-skill" title="Postman" />
			</div>
		</div>
	</div>
</div>
