$colors: (
	white: #fff,
	black: #000000,
	black-chinese: #161717,
	dark-charcoal-gray: #242424,
	charcoal-gray: #525252,
	silver-american: #cfcfcf,
	gray-philippine: #8c8c8c,
	main-purple: #440c97,
	royal-purple: #a36bfd,
	dark-charcoal-gray-10: rgba(140, 140, 140, 0.1),
	dark-bg-10: rgba(0, 0, 0, 0.207),
	reddish-orange: #ca4230,
	golden-yellow: #fad85d,
	turquoise: hsl(169, 89%, 45%),
	green-sea: #83d89b
);
